#avô {
 border: 1px solid red;
 padding: 3px;
}

#pai {
    border:1px solid blue;
    margin-bottom: 3px;
    padding: 2px;
}

#tio {
    border: 1px solid green;
}

p {
    border: 1px solid yellow;
}